body{
	background-color: black;
}

#sidebar {
	background-color: black;
	height: 100vh;
	position: fixed;
}
#main-component{
	height: 100vh;
	overflow: scroll;
	margin-left: 320px;
	width: 75%;
	margin-top: 25px;
	background-color: white;
}
.stock-component {
	border: 1px solid lightgrey;
	margin-bottom: 10px;
	padding: 5px;
	text-align: left;
}
.stock-component table {
	margin-bottom: -1px;
    list-style-type: none;
    background-color: lightgrey;

}
.stock-component table td {
	padding-right: 50px;
}
#profilepicture {
	text-align: center;
	border-radius: 400px;
	height: 250px;
	width: 250px;
	padding: 50px;
	
}
#topdiv {
	z-index: 10;
	position: fixed;
	margin-left: 320px;
	background-color: white;
	width: 75%;
}
#mainpage {
	background-color: black;
	height: 100vh;
	width: 100%;
}
#username {
	color: white;
	size: 2em;
	box-shadow: inherit;
	
	text-align: center;
}
#username2 {
	color: white;
	size 2em;
	box-sizing: 20px;
	text-align: center;
}